$surface-1: #2f383e;
$surface-2: #374247;
$surface-3: #404c51;
$surface-4: #4a555b;
$surface-5: #525c62;

$accent-1: #e67e80;
$accent-2: #e69875;
$accent-3: #dbbc7f;
$accent-4: #a7c080;
$accent-5: #83c092;
$accent-6: #7fbbb3;
$accent-7: #d699b6;

$primary-accent: $accent-4;
$secondary-accent: $accent-5;

$foreground-color: #d3c6aa;

$highlight: rgba(255,255,255,0.15);

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-2};
